body {
  text-align: center;
  background-color:purple;
  background-color: #009ba6;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}


.icon {
  height: 1em;
  width: 1em;
  object-fit: cover;
}

#divLeft {
  display: block;
  float: left;
  width: 50%;
  font-family: 'Quicksand', sans-serif;
}

#divRight {
  display: block;
  float: right;
  width: 50%;
}

.team {
  letter-spacing: 0.5em;
}

ul li {
  list-style-type: none;
  font-size: 2em;
  /* font-family: cheap-pine, sans-serif; */
}

ul {
  margin-top: 3em;
}


.header {
  background-color: black;
  color: whitesmoke;
  height: 15%;
  padding: 1em;
  font-family: 'Quicksand', sans-serif;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: red;
}

#tacoText {
  font-family: cursive;
  color: orange;
}